   ПРОБЛЕМЫ В БЛОЧНОЙ МОДЕЛИ:

  1. Свойства width и heidht устанавливают
    ширину и высоту элемента по умолчанию

  2. Внутренний отступ (padding) и толщина границы (border) 
    добавляются к ширине и высоте, чтобы получить общую ширину
    и высоту элемента

  3. Это означает, что элемент с шириной 100px может иметь
    реальную ширину более 100px

    img {
        width: 200px;            // высота блока будет 200+10+10+5+5
        height: 250px;           // ширина будет 250+10+10+5+5
        padding: 10px;
        border: 5px solid red;
        box-sizing: border-box;
        // box-sizing: content-box; // это по умолч (можно не писать)
       }

    Здесь размер картинки будет как указан,
     но сам блок увеличится на padding и border