  АЛЬТЕРНАТИВНАЯ БЛОЧНАЯ МОДЕЛЬ

  1. css свойство box-sizing позволяет изменить поведение
   в блочной модели по умолчанию (это значение content-box )

  2. Альтернативной блочной моделью является border-box
  
  3. В Альтернативной блочной модели ширина границы 
   и  внутренний отступ не добавляются к ширине.
   Вместо этого они учитывваются в общей ширине,
   заданной с помощью css

   img {
    width: 200px;            // высота блока будет 200
    height: 250px;           // ширина будет 250
    padding: 10px;
    border: 5px solid red;
    box-sizing: border-box;   // размер картинки уменьшится
   }